body{

    background-image: url(zzz.jpg);
    background-repeat: no-repeat;
}
.f{
    width: 700px;
    height: 200px;
    background: #8d7906;
    position: absolute;
    margin-top: -8px;
    left: 0px;
    color: white;
                         text-align: center;
                         line-height: 180px;
                         font-size: 63px;
}
.z{
    width: 606px;
    height: 200px;
    background: #8d7906;
    position: absolute;
    margin-top: -8px;
    right: 0px;
   
}

.a{
    width: 580px;
    height: 50px;
    background: rgb(2, 56, 136);
    position: absolute;
    margin-top: 130px;
    right:10px;
   
    color: white;
                         text-align: center;
                         line-height: 47px;
                         font-size: 23px;
}
.s{
    width: 580px;
    height: 50px;
    background: rgb(2, 56, 136);
    position: absolute;
    margin-top: 70px;
    right:10px;
   
    color: rgb(255, 255, 255);
                         text-align: center;
                         line-height: 47px;
                         font-size: 20px;
}
.d{
    width: 580px;
    height: 50px;
    background: rgb(2, 56, 136);
    position: absolute;
    margin-top: 10px;
    right:10px;
   
    color: white;
                         text-align: center;
                         line-height: 45px;
                         font-size: 33px;
}


.top{
    width: 400px;
    height: 117px;
    background: rgb(0, 102, 255);
    border:1px solid black;
    position: absolute;
    margin-top: 837px;
    left: 0;
    color: white;
                         text-align: center;
                         line-height: 110px;
                         font-size: 63px;
}
.top1{
    width: 550px;
    height: 117px;
    background: rgb(0, 102, 255);
    position: absolute;
    margin-top: 837px;
    border:1px solid black;
    left: 400px;
    color: white;
                         text-align: center;
                         line-height: 110px;
                         font-size: 63px;}
                         .top2{
                            width: 550px;
                            height: 117px;
                            background: rgb(255, 208, 0);
                            position: absolute;
                            margin-top: 837px;
                            border:1px solid black;
                            left: 950px;
                            color: white;
                                                 text-align: center;
                                                 line-height: 110px;
                                                 font-size: 63px;}
                                                 .top3{
                                                    width: 450px;
                                                    height: 117px;
                                                    background: rgb(0, 102, 255);
                                                    position: absolute;
                                                    margin-top: 837px;
                                                    border:1px solid black;
                                                    right: 0px;
                                                    color: white;
                                                                         text-align: center;
                                                                         line-height: 110px;
                                                                         font-size: 63px;}



                                                                         .ya{

                                                                            position: absolute;
                                                                            margin-top: 195px;
                                                                            left: 0px;
                                                                            right: 0px;
                                                                            height: 600px;
                                                                         }
                                                                         .vk{
                                                                            position: absolute;
                                                                            margin-top: 655px;
                                                                            left: 350px;
                                                                         }
                                                                         .wt{
                                                                            position: absolute;
                                                                            margin-top: 625px;
                                                                            right: 350px;
                                                                         }
                                                                         .tel{
                                                                            position: absolute;
                                                                            margin-top: 655px;
                                                                            right: 900px;
                                                                         }